<div class="Card Card__publication">

  <div class="Card__content">

    <div *ngIf="publication.categories" class="Tag">
      <a
        [href]="publication.link"
        [title]="publication.categories[0]"
      >
        {{ publication.categories[0] }}
      </a>
    </div>

    <div class="Card__content--meta">

      <div class="Card__content--cpt">
        PUBLICATION • {{ publication.pubType }}
      </div>

      <div class="Card__content--title">
        <a
          class="text-decoration-none"
          [href]="publication.link"
          [title]="publication.title"
        >
          {{ publication.title }}
        </a>
      </div>

      <div class="Card__content--text">
        {{ publication.description }}
      </div>

    </div>

    <div class="Card__taglist" *ngIf="publication.tags?.length">

      <div
        class="Card__taglist--item"
        *ngFor="let tag of publication.tags"
      >
        <a
          class="text-decoration-none"
          [href]="publication.link"
          [title]="tag"
        >
          {{ tag }}
        </a>
      </div>

    </div>

  </div>

  <div class="Card__authors mb-2 ms-3" *ngIf="publication.people?.length">

    <a
      *ngFor="let person of publication.people"
      [href]="publication.link"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      [attr.data-bs-title]="person.name"
      [attr.aria-label]="person.name"
      [attr.data-bs-original-title]="person.name"
    >
      <img
        class="Card__authors_img"
        [src]="person.image"
        [alt]="person.name"
      >
    </a>

  </div>

</div>