<div class="Card Card__publication">

  <div class="Card__content">

    <div
      class="Tag"
      *ngIf="publication.categories"
    >
      <a
        [href]="publication.link"
        [title]="publication.categories[0]"
        [textContent]="publication.categories[0]"
      >
      </a>
    </div>

    <div class="Card__content--meta">

      <div
        class="Card__content--cpt"
        [textContent]="'PUBLICATION • ' + publication.pubType"
      >
      </div>

      <div class="Card__content--title">
        <a
          class="text-decoration-none"
          [href]="publication.link"
          [title]="publication.title"
          [textContent]="publication.title"
        >
        </a>
      </div>

      <div
        class="Card__content--text"
        [textContent]="publication.description"
      >
      </div>

    </div>

    <div
      class="Card__taglist"
      *ngIf="publication.tags?.length"
    >

      <div
        class="Card__taglist--item"
        *ngFor="let tag of publication.tags"
      >
        <a
          class="text-decoration-none"
          [href]="publication.link"
          [title]="tag"
          [textContent]="tag"
        >
        </a>
      </div>

    </div>

  </div>

  <div
    class="Card__authors mb-2 ms-3"
    *ngIf="publication.people?.length"
  >

    <a
      *ngFor="let person of publication.people"
      [href]="publication.link"
      
      [title]="person.name"
    >
      <img
        class="Card__authors_img"
        [src]="person.image"
        [alt]="person.name"
      >
    </a>

  </div>

</div>
