<div class=container-fluid>
<div class="Cta d-flex align-items-center justify-content-between">

  <div class="Cta__img">
    <img
      [src]="advertising.image"
      alt="Call to action"
    >
  </div>

  <div class="Cta__meta">
    <h3
      class="mb-4"
      [textContent]="advertising.title"
    ></h3>

    <p
      [textContent]="advertising.description"
    ></p>
  </div>

  <div class="Cta__link">
    <a
      [href]="advertising.link"
      class="btn btn-outline-white"
    >
      <span [textContent]="advertising.label"></span>
      <i
        class="fa-sharp fa-regular fa-arrow-down-to-bracket ms-2 text-white"
        aria-hidden="true"
      ></i>
    </a>
  </div>

</div>
</div>
